{% extends "layout.html" %}

{% block title %}码洞——编辑文章{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <form method="POST">
      <div class="box">
        <div class="field">
          <label class="label">作者</label>
          <div class="control">
            <input class="input" type="text" name="author" id="author" placeholder="老钱" value="{{article.author}}"/>
          </div>
        </div>
        <div class="field">
          <label class="label">标题</label>
          <div class="control">
            <input class="input" type="text" name="title" id="title" placeholder="无标题" value="{{article.title}}"/>
          </div>
        </div>
        <div class="field">
          <label class="label">封面图片</label>
          <div class="control">
            <input class="input" type="text" name="icon" id="icon" placeholder="https://" value="{{article.icon}}"/>
          </div>
        </div>
        <div class="field">
          <label class="label">纯文本摘要</label>
          <div class="control">
            <textarea class="textarea is-info" name="summary" rows=4 id="summary" type="text" placeholder="">{{article.summary or ''}}</textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Markdown内容</label>
          <div class="control">
            <textarea class="textarea is-info" name="source" rows=100 id="source" type="text" placeholder="Markdown">{{article.source or ''}}</textarea>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button class="button is-primary">发表文章</button>
            <a class="button is-light" href="{{url_for('article.article', article_id=article.id)}}">取消修改</a>
          </div>
        </div>
      </div>
      </form>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
Zepto(function() {
  $('#form').submit(function() {
      var title = $.trim($('#title').val());
      var author = $.trim($('#author').val());
      var icon = $.trim($('#icon').val());
      var summary = $.trim($('#summary').val());
      if(title && author && icon && summary) {
        return true;
      }
      return false;
  });
});
</script>
{% endblock %}
