{% extends "layout.html" %}

{% block title %}码洞—全部小册{% endblock %}

{% block css %}
{{super()}}
<style>
.article {
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow:0 0 0 0;
}
</style>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
		  {% for book in books %}
      <div class="card article">
        <div class="media">
          <div class="media-left">
              <a href="{{url_for('book.book', book_id=book.id)}}">
                <img src="{{book.icon}}" width="178" height="100"/>
              </a>
          </div>
          <div class="media-content">
            <p class="title is-5"><a href="{{url_for('book.book', book_id=book.id)}}" class="button is-text">{{book.title}}</a></p>
          </div>
        </div>
      </div>
		  {% endfor %}
    </div>
</div>
{% endblock %}
