{% extends "layout.html" %}

{% block title %}码洞—{{book.title}}{% endblock %}

{% block css %}
{{super()}}
<style>
.article {
    margin-bottom: 20px;
    padding: 0px;
    border: 0;
    box-shadow:0 0 0 0;
}
</style>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="box">
        <div class="card article">
          <div class="media">
            <div class="media-content">
              <p class="title is-3">第{{chapter.index+1}}章——{{chapter.title}}</p>
              <a class="button is-outlined is-link" href="{{url_for('book.edit_chapter', book_id=book.id, chapter_id=chapter.id)}}">编辑内容</a>
              <a class="button is-outlined is-link" href="{{url_for('book.book', book_id=book.id, )}}#chapters">回到目录</a>
            </div>
          </div>
        </div>
        <hr>
		    <div class="content">
		      {{ chapter.html|safe }}
		    </div>
      </div>
    </div>
</div>
{% endblock %}
