{% extends "layout.html" %}

{% block title %}码洞——老钱的开源免费教程大全{% endblock %}

{% block css %}
{{super()}}
<style>
.article {
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow:0 0 0 0;
}
.title a {
  color: black;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
		  {% for article in articles %}
      <div class="card article">
        <div class="media">
          <div class="media-left">
              <a href="{{url_for('article.article', article_id=article.id)}}">
                <img src="{{article.icon}}" width="89" height="50"/>
              </a>
          </div>
          <div class="media-content">
            <p class="title is-5">
              <a href="{{url_for('article.article', article_id=article.id)}}" class="is-dark">{{article.title}}</a>
            </p>
            <p class="subtitle is-6">
              {{article.summary}}
            </p>
          </div>
        </div>
      </div>
      <hr>
		  {% endfor %}
    </div>
</div>
{% endblock %}
